
<h1></h1>
<div class="main-content">
  <strong class="flash-massage"><%= flash[:notice] %></strong>
  <div class ="show">
    <div><strong>Title:</strong><p class="show-content"><%= @book.title %></p></div>
    <div><strong>Body:</strong><p class="show-content"><%= @book.body %></p></div>
  </div>
  <%= link_to "Edit", edit_book_path %> | <%= link_to "Back", books_path %>
</div>